body, html, #items {
	font-family: "Times New Roman";
	margin: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

html {

}

#header {
	border-radius: 8px;
	padding: 16px;
	margin: 8px;
	background-color: #287AA9;
}

#items {
	display: flex;
	margin: 8px;
}

h1, h3, h4 {
	color: white;
	margin: 0px;
}

h3 {
	margin-left: 16px;
	margin-right: 16px;
}

h4 {
	background-color: #287AA9;
	padding: 8px;
}

ul {
	list-style: none;
}

li {
	margin-top: 8px;
	margin-left: 0px;
	padding: 16px;
	background-color: #83bfe2;
	width: 160px;
	border-radius: 8px;
}

button.link {
	background: none;
	border: none;
	text-decoration: underline;
}

#menu {
	float: left;
	padding-left: 0;
}

#details {
	overflow: hidden;
	flex-grow: 1;
}

iframe {
	margin-top: 0px;
	padding: 16px;
	margin: 16px;
	border: none;
}

img {
	width:304px;
	height:228px;
	display: block;
	margin: 0 auto;
}
